.App {
  text-align: center;
}

.body {
  
  background-image: url('/black-background-blank-card-1111321.jpg');
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: gainsboro
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: gainsboro;
  margin-bottom: 0;
}

.App-link {
  color: #61dafb;
}

a {
  color: white;
  cursor: pointer;
}

fieldset {
  border: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
