/* HOME */
.navbardiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0 3vh;
}

.forNavBar {
  margin: 0 5em 0 0;
  display: inline-block
}

.body {
  background-image: url('/black-background-blank-card-1111321.jpg');
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center;
  color: gainsboro;
  text-align: center;
}

.App-header { /*navbar*/
  background-color: black;
  min-height: 5vh;
  display: flex;
  font-size: calc(8px + 2vmin);
  color: gainsboro;
  margin-bottom: 0;
}

.title { /*title*/
  margin-top: 0;
  line-height: 5vh;
  text-align: right;
  padding-right: 5vh;
}

.info { /*intro*/
  margin-top: 0;
  line-height: 5vh;
  text-align: right;
  padding-right: 5vh;
  padding-top: 5vh;
}

.loginDiv {
  padding-top: 10em;
}

input {
  background: ghostwhite;
  color: black;
  border: black;
  border-radius: 1em;
  padding: 0 1em;
}

/* profile info */
.instructions {
  font-size: 1.2em;
  font-weight: bolder;
  text-decoration-line: underline;
  padding-top: 0.5em;
  line-height: 0.8em;
}

.profileinfo {
  padding-top: 1em;
}

/* public info */
.publictitle {
  margin-top: auto;
  padding-top: 0.5em;
}

.emergency{
  text-decoration-line: underline;
  text-decoration-color: red;
  text-emphasis-style: 
}

/* edit menu*/
.edittitle {
  margin-top: auto;
  padding: 0.3em 0;
}

.editform {
  display: inline-flex;
  flex-direction: column;
  padding: 0 3em;
}

/* extras */
.labellogin {
  padding: 0.5em;
}

p {
  font-size: 1.1em;
}

a {
  color: white;
  cursor: pointer;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
